.item_detail_container_title {
    font-size: 42px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.item_detail_container {
    border: 1px solid black;
    padding: 20px;
    margin: 30px auto;
    max-width: 1200px;
    width: 50%;
}
.item_detail_container .title {
    margin: 30px 60px;
    text-align: left;
}

.item_detail_container ul {
    margin-left: 60px;
    margin-right: 60px;
    text-align: left;
}

.item_detail_container .btn {
    margin-top: 30px;
}